* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: $darkfont;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
p {
  margin-bottom: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.padding-top-regular {
  padding-top: 120px;
}

.tac {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}

.round {
  @include before-circle;
  &_left {
    padding: 7px 0 0 10px;
    &:before {
      left: 0;
    }
  }
  &_icon {
    padding: 15px 0 0 15px;
    &:before {
      left: 0;
    }
  }
  &_center {
      padding-top: 7px;
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.divider {
  @include before-divider;
  &_left {
    &:before {
      bottom: 0;
    }
  }
  &_center {
    &:before {
      left: 50%;
      bottom: -21px;
      transform: translateX(-50%);
    }
  }
}